body {
    
    
    height: 100vh;
    margin: 0;
    padding: 0;
    
    background-color: #FCFCFC;
}

/* Main Layout and Content Wrapper */
.main-layout {
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    display: flex;
    flex-grow: 1;
    height: calc(100vh - 60px); /* Account for navbar height */
}


.centercontent {
    /* margin-left: 0%; */
    padding: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: margin-left 0.3s ease;
}
